<section>
  <button type="button">contact</button>
</section>

<style>
  section {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    padding: 12px 24px;
    background-color: var(--brand-color);
    color: var(--text-dark);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font:
      100 20px/1 "Outfit Variable",
      sans-serif;
  }
</style>
